.hero {
  position: relative;
  padding-top: 87px;

  @include mini-desktop {
    padding-top: 60px;
  }

  @include tablet {
    padding-top: 40px;
  }

  @include small-tablet {
    padding-top: 20px;
  }

  @include small-mobile {
    padding-top: 10px;
  }

  &::before {
    top: 25px;
    left: 80px;
    width: 551px;
    height: 551px;
    background: #fa7515;
    opacity: 0.13;
    filter: blur(220px);

    @include mini-desktop {
      top: 0;
      left: 50px;
      width: 400px;
      height: 400px;
    }

    @include tablet {
      width: 300px;
      height: 300px;
    }

    @include small-tablet {
      top: 25px;
      left: 50%;
      width: 250px;
      height: 250px;
      transform: translateX(-50%);
    }

    @include mobile {
      top: 0;
      width: 200px;
      height: 200px;
    }
  }

  &::after {
    right: 20px;
    bottom: 60px;
    width: 525px;
    height: 525px;
    background: var(--success-color-70);
    filter: blur(180px);

    @include mini-desktop {
      right: 40px;
      bottom: 10px;
      width: 400px;
      height: 400px;
    }

    @include tablet {
      width: 300px;
      height: 300px;
    }

    @include small-tablet {
      opacity: 0;
      visibility: hidden;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: var(--z-index-0);
    display: inline-block;
    border-radius: 50%;
  }

  &__container {
    display: flex;
    gap: 97px;

    @include mini-desktop {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__left {
    margin-bottom: 140px;
    max-width: 599px;

    @include small-tablet {
      margin-bottom: 125px;
    }

    @include mobile {
      margin-bottom: 100px;
    }

    @include small-mobile {
      margin-bottom: 80px;
    }
  }

  &__title {
    margin-bottom: 114px;
    font-weight: 700;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include mini-desktop {
      margin-bottom: 50px;
    }

    @include tablet {
      margin-bottom: 40px;
      font-size: 65px;
    }

    @include small-tablet {
      margin-bottom: 35px;
      font-size: 55px;
    }

    @include mobile {
      font-size: 40px;
    }

    @include small-mobile {
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    margin-bottom: 69px;
    padding-left: 100px;

    @include mini-desktop {
      padding-left: 0;
    }

    @include tablet {
      margin-bottom: 55px;
    }

    @include small-tablet {
      margin-bottom: 35px;
    }

    @include mobile {
      margin-bottom: 35px;
    }

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__form {
    @include flex-aling-center;
    gap: 16px;

    @include mini-desktop {
      @include flex-all-center;
    }

    @include small-tablet {
      gap: 0;
    }

    @include mobile {
      gap: 20px;
      flex-direction: column;
    }
  }

  &__input {
    margin-right: 15px;
    border-bottom: 1px solid var(--neutral-color-40);
    padding-bottom: 23px;
    min-width: 280px;
    font-weight: 400;
    line-height: 150%;
    color: var(--neutral-color-100);
    background-color: transparent;

    @include tablet {
      padding-bottom: 15px;
    }

    @include small-mobile {
      min-width: 200px;
      text-align: center;
    }
  }

  &__btn {
    padding: 16px 34px;
    color: var(--neutral-color-10);
    background-color: var(--neutral-color-100);

    @include tablet {
      font-size: 14px;
    }

    @include small-mobile {
      padding: 10px 26px;
    }
  }

  &__right {
    position: relative;

    @include mini-desktop {
      display: none;
    }
  }

  &__sales {
    margin: 70px 0 29px;
    padding: 20px;

    &-title {
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: -0.03em;
      color: #1d1e25;
    }
  }

  &__customer {
    position: absolute;
    top: 19px;
    right: -138px;
    padding: 15px 18px;

    @include small-desktop {
      top: -30px;
      right: -85px;
      padding: 5px 8px;
    }

    &-title {
      margin-bottom: 12px;
      font-weight: 700;
      font-size: 16px;
      line-height: 187%;
      letter-spacing: -0.03em;
      color: #1d1e25;
    }
  }

  &__sales,
  &__customer {
    border-radius: 8px;
    box-shadow: 20px 40px 80px 0 #5960871f;
    background: #fff;
  }

  &__stats {
    border-radius: 8px;
    padding: 20px 29px;
    width: 419px;
    height: 119px;
    box-shadow: 20px 40px 80px 0 #2d33511f;
    text-align: left;
    background-color: #000;

    &-head {
      &-th {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #5c616f;
      }
    }

    &-body {
      &-td {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: #fff;

        &:nth-child(1) {
          padding-right: 60px;
        }
      }

      &-num {
        display: inline-block;
        padding-right: 3px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
      }

      &-num--green {
        color: #60d39c;

        &::before {
          background: url('../assets/icons/green-arrow-icon.svg') no-repeat;
        }
      }

      &-num--red {
        color: #e35454;

        &::before {
          background: url('../assets/icons/red-arrow-icon.svg') no-repeat;
        }
      }

      &-num--green::before,
      &-num--red::before {
        content: '';
        display: inline-block;
        margin-right: 3px;
        width: 12px;
        height: 12px;
      }

      &-past {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.5px;
        color: #5c616e;
      }
    }
  }
}
