.approach {
  &__container {
    padding-bottom: 160px;
    max-width: 970px;

    @include tablet {
      padding-bottom: 120px;
    }

    @include small-tablet {
      padding-bottom: 100px;
    }

    @include mobile {
      padding-bottom: 80px;
    }

    @include small-mobile {
      padding-bottom: 60px;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 600;
    line-height: 120%;
    color: var(--neutral-color-100);

    @include mobile {
      margin-bottom: 18px;
    }
  }

  &__descr {
    margin-bottom: 56px;
    font-weight: 400;
    line-height: 32px;
    color: var(--neutral-color-100);

    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__info {
    display: flex;
    gap: 48px;

    @include small-tablet {
      gap: 30px;
    }

    @include mobile {
      @include flex-column;
    }

    & img {
      max-width: 200px;
      max-height: 200px;
    }
  }

  &__content {
    &-head {
      @include flex-aling-center;
      gap: 32px;
      margin-bottom: 14px;

      @include small-tablet {
        gap: 18px;
      }
    }

    &-social {
      & svg {
        & path {
          fill: var(--neutral-color-100);
        }
      }
    }

    &-share {
      margin-left: -8px;
      font-weight: 500;
      line-height: 26px;
      color: var(--neutral-color-100);
    }

    &-written {
      margin-bottom: 16px;
      font-weight: 500;
      line-height: 26px;
      color: var(--neutral-color-150);
    }

    &-name {
      margin-bottom: 16px;
      font-weight: 600;
      line-height: 42px;
      color: var(--neutral-color-100);
    }

    &-position {
      margin-bottom: 16px;
      font-weight: 500;
      line-height: 26px;
      color: var(--neutral-color-150);
    }

    &-share,
    &-written,
    &-name,
    &-position {
      @include mobile {
        margin-bottom: 8px;
      }
    }

    &-descr {
      font-weight: 400;
      line-height: 32px;
      color: var(--neutral-color-100);
    }
  }
}
