<section class="insights">
  <div class="container insights__container">
    <div class="insights__card">
      <img
        loading="lazy"
        src="./assets/icons/image/insights-image1.png"
        width="584"
        height="751"
        alt="Simple workspace with a chair visible from the side"
      />
      <h3 class="insights__card-title heading-h3">
        How we perform long-running tasks using AWS services
      </h3>
      <p class="insights__card-descr texp-p-medium">
        Webflow is web design tool as well as a hosting platform and CMS all in one. While
        you are probably familiar with all of these, they are usually entirely separate
        tools.
      </p>
    </div>
    <div class="insights__card">
      <img
        loading="lazy"
        src="./assets/icons/image/insights-image2.png"
        width="584"
        height="751"
        alt="Working on a project in a casual office setting"
      />
      <h3 class="insights__card-title insights__card-title--style heading-h3">How to ask when doing User Research</h3>
      <p class="insights__card-descr texp-p-medium">
        Bro, the story is that you want to make an application for buying and selling
        goods on the market. During user research, what do you think you will ask people?
      </p>
    </div>
    <div class="insights__card">
      <img
        loading="lazy"
        src="./assets/icons/image/insights-image3.png"
        width="584"
        height="751"
        alt="Team collaborating on a project at the workplace"
      />
      <h3 class="insights__card-title heading-h3">
        Layout Exploration — Simple exercise but big effect
      </h3>
      <p class="insights__card-descr texp-p-medium">
        Make alternatives or other options for the design we are making. For example, we
        are creating a website design. Then there is the testimonial section.
      </p>
    </div>
    <div class="insights__card">
      <img
        loading="lazy"
        src="./assets/icons/image/insights-image4.png"
        width="584"
        height="751"
        alt="Presentation in progress during a team meeting"
      />
      <h3 class="insights__card-title insights__card-title--style heading-h3">Webflow Break the Coding Barrier</h3>
      <p class="insights__card-descr texp-p-medium">
        Webflow is web design tool as well as a hosting platform and CMS all in one. While
        you are probably familiar with all of these, they are usually entirely separate
        tools.
      </p>
    </div>
  </div>
</section>
