<section class="journal">
  <div class="container journal__container">
    <h2 class="journal__title heading-h1">Activity & Updates</h2>
    <p class="journal__subtitle text-p-subtitle">
      Our biggest challenge is making sure we're always designing and building products
      that will help you run your business better.
    </p>

    <ul class="journal__list">
      <li class="journal__item">
        <button class="journal__link is-active" data-tab="all">View all</button>
      </li>
      <li class="journal__item">
        <button class="journal__link" data-tab="design">Design</button>
      </li>
      <li class="journal__item">
        <button class="journal__link" data-tab="articles">Articles</button>
      </li>
      <li class="journal__item">
        <button class="journal__link" data-tab="product">Product</button>
      </li>
      <li class="journal__item">
        <button class="journal__link" data-tab="dev">Software Development</button>
      </li>
      <li class="journal__item">
        <button class="journal__link" data-tab="success">Customer Success</button>
      </li>
    </ul>

    <div class="swiper journal__slider is-active" data-tab-content="all">
      <div class="journal__slider-btns">
        <svg
          width="100"
          height="100"
          viewBox="0 0 100 100"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="50" cy="50" r="50" fill="white" />
          <path
            d="M55.0001 43.3333L61.6667 49.9999L55.0001 56.6666M45.0001 56.6666L38.3334 49.9999L45.0001 43.3333"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide journal__article">
          <img
            src="./assets/icons/image/journal-slider-image1.png"
            width="515"
            height="428"
            alt="A woman drinking tea while working on a laptop in a beautifully decorated interior"
          />
          <div class="journal__article-date text-p-small">
            Published in Insight
            <time datetime="2024-01-30">Jan 30, 2025</time>
          </div>
          <h5 class="journal__article-title heading-h5">Practice making User Flow</h5>
          <p class="journal__article-descr">
            In this article, we'll cover how to <br />
            create user flows
          </p>
        </div>
        <div class="swiper-slide journal__article">
          <img
            src="./assets/icons/image/journal-slider-image2.png"
            width="515"
            height="428"
            alt="Two women carefully reviewing a project and making plans"
          />
          <div class="journal__article-head">
            <div class="journal__article-date text-p-small">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2025</time>
            </div>
            <address class="journal__article-author text-p-small">
              by : Albert Sans
            </address>
          </div>
          <h5 class="journal__article-title heading-h5">
            Overview of the Design Principles
          </h5>
          <p class="journal__article-descr">
            What are Design Principles?… To understand design principles, we first discuss
            the principles.
          </p>
        </div>
        <div class="swiper-slide journal__article">
          <img
            src="./assets/icons/image/journal-slider-image3.png"
            width="515"
            height="428"
            alt="A man and a woman celebrating a successful project"
          />
          <div class="journal__article-date text-p-small">
            Published in Insight
            <time datetime="2024-01-30">Jan 30, 2025</time>
          </div>
          <h5 class="journal__article-title heading-h5">Using Grid in website design</h5>
          <p class="journal__article-descr">
            Andi: "What's the grid like?" Toni: “Like below…”
          </p>
        </div>
        <div class="swiper-slide journal__article">
          <img
            src="./assets/icons/image/journal-slider-image1.png"
            width="515"
            height="428"
            alt="A woman drinking tea while working on a laptop in a beautifully decorated interior"
          />
          <div class="journal__article-date text-p-small">
            Published in Insight
            <time datetime="2024-01-30">Jan 30, 2025</time>
          </div>
          <h5 class="journal__article-title heading-h5">Practice making User Flow</h5>
          <p class="journal__article-descr">
            In this article, we'll cover how to <br />
            create user flows
          </p>
        </div>
      </div>
    </div>

    <div class="swiper journal__slider" data-tab-content="design">
      <div class="journal__slider-btns">
        <svg
          width="100"
          height="100"
          viewBox="0 0 100 100"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="50" cy="50" r="50" fill="white" />
          <path
            d="M55.0001 43.3333L61.6667 49.9999L55.0001 56.6666M45.0001 56.6666L38.3334 49.9999L45.0001 43.3333"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide journal__article">
          <img
            src="./assets/icons/image/journal-slider-image1.png"
            width="515"
            height="428"
            alt="A woman drinking tea while working on a laptop in a beautifully decorated interior"
          />
          <div class="journal__article-date text-p-small">
            Published in Insight
            <time datetime="2024-01-30">Jan 30, 2025</time>
          </div>
          <h5 class="journal__article-title heading-h5">Practice making User Flow</h5>
          <p class="journal__article-descr">
            In this article, we'll cover how to <br />
            create user flows
          </p>
        </div>
        <div class="swiper-slide journal__article">
          <img
            src="./assets/icons/image/journal-slider-image1.png"
            width="515"
            height="428"
            alt="A woman drinking tea while working on a laptop in a beautifully decorated interior"
          />
          <div class="journal__article-date text-p-small">
            Published in Insight
            <time datetime="2024-01-30">Jan 30, 2025</time>
          </div>
          <h5 class="journal__article-title heading-h5">Practice making User Flow</h5>
          <p class="journal__article-descr">
            In this article, we'll cover how to <br />
            create user flows
          </p>
        </div>
        <div class="swiper-slide journal__article">
          <img
            src="./assets/icons/image/journal-slider-image1.png"
            width="515"
            height="428"
            alt="A woman drinking tea while working on a laptop in a beautifully decorated interior"
          />
          <div class="journal__article-date text-p-small">
            Published in Insight
            <time datetime="2024-01-30">Jan 30, 2025</time>
          </div>
          <h5 class="journal__article-title heading-h5">Practice making User Flow</h5>
          <p class="journal__article-descr">
            In this article, we'll cover how to <br />
            create user flows
          </p>
        </div>
        <div class="swiper-slide journal__article">
          <img
            src="./assets/icons/image/journal-slider-image1.png"
            width="515"
            height="428"
            alt="A woman drinking tea while working on a laptop in a beautifully decorated interior"
          />
          <div class="journal__article-date text-p-small">
            Published in Insight
            <time datetime="2024-01-30">Jan 30, 2025</time>
          </div>
          <h5 class="journal__article-title heading-h5">Practice making User Flow</h5>
          <p class="journal__article-descr">
            In this article, we'll cover how to <br />
            create user flows
          </p>
        </div>
      </div>
    </div>

    <div class="swiper journal__slider" data-tab-content="articles">
      <div class="journal__slider-btns">
        <svg
          width="100"
          height="100"
          viewBox="0 0 100 100"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="50" cy="50" r="50" fill="white" />
          <path
            d="M55.0001 43.3333L61.6667 49.9999L55.0001 56.6666M45.0001 56.6666L38.3334 49.9999L45.0001 43.3333"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide journal__article">
          <img
            src="./assets/icons/image/journal-slider-image2.png"
            width="515"
            height="428"
            alt="Two women carefully reviewing a project and making plans"
          />
          <div class="journal__article-head">
            <div class="journal__article-date text-p-small">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2025</time>
            </div>
            <address class="journal__article-author text-p-small">
              by : Albert Sans
            </address>
          </div>
          <h5 class="journal__article-title heading-h5">
            Overview of the Design Principles
          </h5>
          <p class="journal__article-descr">
            What are Design Principles?… To understand design principles, we first discuss
            the principles.
          </p>
        </div>
        <div class="swiper-slide journal__article">
          <img
            src="./assets/icons/image/journal-slider-image2.png"
            width="515"
            height="428"
            alt="Two women carefully reviewing a project and making plans"
          />
          <div class="journal__article-head">
            <div class="journal__article-date text-p-small">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2025</time>
            </div>
            <address class="journal__article-author text-p-small">
              by : Albert Sans
            </address>
          </div>
          <h5 class="journal__article-title heading-h5">
            Overview of the Design Principles
          </h5>
          <p class="journal__article-descr">
            What are Design Principles?… To understand design principles, we first discuss
            the principles.
          </p>
        </div>
        <div class="swiper-slide journal__article">
          <img
            src="./assets/icons/image/journal-slider-image2.png"
            width="515"
            height="428"
            alt="Two women carefully reviewing a project and making plans"
          />
          <div class="journal__article-head">
            <div class="journal__article-date text-p-small">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2025</time>
            </div>
            <address class="journal__article-author text-p-small">
              by : Albert Sans
            </address>
          </div>
          <h5 class="journal__article-title heading-h5">
            Overview of the Design Principles
          </h5>
          <p class="journal__article-descr">
            What are Design Principles?… To understand design principles, we first discuss
            the principles.
          </p>
        </div>
        <div class="swiper-slide journal__article">
          <img
            src="./assets/icons/image/journal-slider-image2.png"
            width="515"
            height="428"
            alt="Two women carefully reviewing a project and making plans"
          />
          <div class="journal__article-head">
            <div class="journal__article-date text-p-small">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2025</time>
            </div>
            <address class="journal__article-author text-p-small">
              by : Albert Sans
            </address>
          </div>
          <h5 class="journal__article-title heading-h5">
            Overview of the Design Principles
          </h5>
          <p class="journal__article-descr">
            What are Design Principles?… To understand design principles, we first discuss
            the principles.
          </p>
        </div>
      </div>
    </div>

    <div class="swiper journal__slider" data-tab-content="product">
      <div class="journal__slider-btns">
        <svg
          width="100"
          height="100"
          viewBox="0 0 100 100"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="50" cy="50" r="50" fill="white" />
          <path
            d="M55.0001 43.3333L61.6667 49.9999L55.0001 56.6666M45.0001 56.6666L38.3334 49.9999L45.0001 43.3333"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide journal__article">
          <img
            src="./assets/icons/image/journal-slider-image3.png"
            width="515"
            height="428"
            alt="A man and a woman celebrating a successful project"
          />
          <div class="journal__article-date text-p-small">
            Published in Insight
            <time datetime="2024-01-30">Jan 30, 2025</time>
          </div>
          <h5 class="journal__article-title heading-h5">Using Grid in website design</h5>
          <p class="journal__article-descr">
            Andi: "What's the grid like?" Toni: “Like below…”
          </p>
        </div>
        <div class="swiper-slide journal__article">
          <img
            src="./assets/icons/image/journal-slider-image3.png"
            width="515"
            height="428"
            alt="A man and a woman celebrating a successful project"
          />
          <div class="journal__article-date text-p-small">
            Published in Insight
            <time datetime="2024-01-30">Jan 30, 2025</time>
          </div>
          <h5 class="journal__article-title heading-h5">Using Grid in website design</h5>
          <p class="journal__article-descr">
            Andi: "What's the grid like?" Toni: “Like below…”
          </p>
        </div>
        <div class="swiper-slide journal__article">
          <img
            src="./assets/icons/image/journal-slider-image3.png"
            width="515"
            height="428"
            alt="A man and a woman celebrating a successful project"
          />
          <div class="journal__article-date text-p-small">
            Published in Insight
            <time datetime="2024-01-30">Jan 30, 2025</time>
          </div>
          <h5 class="journal__article-title heading-h5">Using Grid in website design</h5>
          <p class="journal__article-descr">
            Andi: "What's the grid like?" Toni: “Like below…”
          </p>
        </div>
        <div class="swiper-slide journal__article">
          <img
            src="./assets/icons/image/journal-slider-image3.png"
            width="515"
            height="428"
            alt="A man and a woman celebrating a successful project"
          />
          <div class="journal__article-date text-p-small">
            Published in Insight
            <time datetime="2024-01-30">Jan 30, 2025</time>
          </div>
          <h5 class="journal__article-title heading-h5">Using Grid in website design</h5>
          <p class="journal__article-descr">
            Andi: "What's the grid like?" Toni: “Like below…”
          </p>
        </div>
      </div>
    </div>

    <div class="swiper journal__slider" data-tab-content="dev">
      <div class="journal__slider-btns">
        <svg
          width="100"
          height="100"
          viewBox="0 0 100 100"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="50" cy="50" r="50" fill="white" />
          <path
            d="M55.0001 43.3333L61.6667 49.9999L55.0001 56.6666M45.0001 56.6666L38.3334 49.9999L45.0001 43.3333"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide journal__article">
          <img
            src="./assets/icons/image/journal-slider-image1.png"
            width="515"
            height="428"
            alt="A woman drinking tea while working on a laptop in a beautifully decorated interior"
          />
          <div class="journal__article-date text-p-small">
            Published in Insight
            <time datetime="2024-01-30">Jan 30, 2025</time>
          </div>
          <h5 class="journal__article-title heading-h5">Practice making User Flow</h5>
          <p class="journal__article-descr">
            In this article, we'll cover how to <br />
            create user flows
          </p>
        </div>
        <div class="swiper-slide journal__article">
          <img
            src="./assets/icons/image/journal-slider-image2.png"
            width="515"
            height="428"
            alt="Two women carefully reviewing a project and making plans"
          />
          <div class="journal__article-head">
            <div class="journal__article-date text-p-small">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2025</time>
            </div>
            <address class="journal__article-author text-p-small">
              by : Albert Sans
            </address>
          </div>
          <h5 class="journal__article-title heading-h5">
            Overview of the Design Principles
          </h5>
          <p class="journal__article-descr">
            What are Design Principles?… To understand design principles, we first discuss
            the principles.
          </p>
        </div>
        <div class="swiper-slide journal__article">
          <img
            src="./assets/icons/image/journal-slider-image3.png"
            width="515"
            height="428"
            alt="A man and a woman celebrating a successful project"
          />
          <div class="journal__article-date text-p-small">
            Published in Insight
            <time datetime="2024-01-30">Jan 30, 2025</time>
          </div>
          <h5 class="journal__article-title heading-h5">Using Grid in website design</h5>
          <p class="journal__article-descr">
            Andi: "What's the grid like?" Toni: “Like below…”
          </p>
        </div>
        <div class="swiper-slide journal__article">
          <img
            src="./assets/icons/image/journal-slider-image1.png"
            width="515"
            height="428"
            alt="A woman drinking tea while working on a laptop in a beautifully decorated interior"
          />
          <div class="journal__article-date text-p-small">
            Published in Insight
            <time datetime="2024-01-30">Jan 30, 2025</time>
          </div>
          <h5 class="journal__article-title heading-h5">Practice making User Flow</h5>
          <p class="journal__article-descr">
            In this article, we'll cover how to <br />
            create user flows
          </p>
        </div>
      </div>
    </div>

    <div class="swiper journal__slider" data-tab-content="success">
      <div class="journal__slider-btns">
        <svg
          width="100"
          height="100"
          viewBox="0 0 100 100"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="50" cy="50" r="50" fill="white" />
          <path
            d="M55.0001 43.3333L61.6667 49.9999L55.0001 56.6666M45.0001 56.6666L38.3334 49.9999L45.0001 43.3333"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide journal__article">
          <img
            src="./assets/icons/image/journal-slider-image2.png"
            width="515"
            height="428"
            alt="Two women carefully reviewing a project and making plans"
          />
          <div class="journal__article-head">
            <div class="journal__article-date text-p-small">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2025</time>
            </div>
            <address class="journal__article-author text-p-small">
              by : Albert Sans
            </address>
          </div>
          <h5 class="journal__article-title heading-h5">
            Overview of the Design Principles
          </h5>
          <p class="journal__article-descr">
            What are Design Principles?… To understand design principles, we first discuss
            the principles.
          </p>
        </div>
        <div class="swiper-slide journal__article">
          <img
            src="./assets/icons/image/journal-slider-image2.png"
            width="515"
            height="428"
            alt="Two women carefully reviewing a project and making plans"
          />
          <div class="journal__article-head">
            <div class="journal__article-date text-p-small">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2025</time>
            </div>
            <address class="journal__article-author text-p-small">
              by : Albert Sans
            </address>
          </div>
          <h5 class="journal__article-title heading-h5">
            Overview of the Design Principles
          </h5>
          <p class="journal__article-descr">
            What are Design Principles?… To understand design principles, we first discuss
            the principles.
          </p>
        </div>
        <div class="swiper-slide journal__article">
          <img
            src="./assets/icons/image/journal-slider-image2.png"
            width="515"
            height="428"
            alt="Two women carefully reviewing a project and making plans"
          />
          <div class="journal__article-head">
            <div class="journal__article-date text-p-small">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2025</time>
            </div>
            <address class="journal__article-author text-p-small">
              by : Albert Sans
            </address>
          </div>
          <h5 class="journal__article-title heading-h5">
            Overview of the Design Principles
          </h5>
          <p class="journal__article-descr">
            What are Design Principles?… To understand design principles, we first discuss
            the principles.
          </p>
        </div>
        <div class="swiper-slide journal__article">
          <img
            src="./assets/icons/image/journal-slider-image2.png"
            width="515"
            height="428"
            alt="Two women carefully reviewing a project and making plans"
          />
          <div class="journal__article-head">
            <div class="journal__article-date text-p-small">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2025</time>
            </div>
            <address class="journal__article-author text-p-small">
              by : Albert Sans
            </address>
          </div>
          <h5 class="journal__article-title heading-h5">
            Overview of the Design Principles
          </h5>
          <p class="journal__article-descr">
            What are Design Principles?… To understand design principles, we first discuss
            the principles.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
