<section class="partners">
  <div class="container partners__container">
    <h2 class="partners__title text-p-medium">
      <span class="partners__title-num heading-h2">890+</span>
      some big companies that we work with, and trust us very much
    </h2>
    <ul class="partners__list">
      <li class="partners__item">
        <img
          loading="lazy"
          class="partners__item-img"
          src="./assets/icons/partners/airbnb-logo.svg"
          width="96"
          height="30"
          alt="Airbnb logo"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          class="partners__item-img"
          src="./assets/icons/partners/amazon-logo.svg"
          width="97"
          height="30"
          alt="Amazon logo"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          class="partners__item-img"
          src="./assets/icons/partners/fedex-logo.svg"
          width="94"
          height="28"
          alt="FedEx logo"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          class="partners__item-img"
          src="./assets/icons/partners/microsoft-logo.svg"
          width="115"
          height="24"
          alt="Microsoft logo"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          class="partners__item-img"
          src="./assets/icons/partners/google-logo.svg"
          width="89"
          height="30"
          alt="Google logo"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          class="partners__item-img"
          src="./assets/icons/partners/ola-logo.svg"
          width="92"
          height="32"
          alt="Ola logo"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          class="partners__item-img"
          src="./assets/icons/partners/walmart-logo.svg"
          width="113"
          height="26"
          alt="Walmart logo"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          class="partners__item-img"
          src="./assets/icons/partners/oyo-logo.svg"
          width="79"
          height="30"
          alt="Oyo logo"
        />
      </li>
    </ul>
  </div>
</section>
