<section class="hero">
  <div class="container hero__container">
    <div class="hero__left">
      <h2 class="hero__title">Digitally forward creative</h2>
      <p class="hero__subtitle text-p-subtitle">
        When it comes to interactive marketing, we've got you covered. <br />Be
        where the world is going
      </p>
      <form class="hero__form">
        <input
          class="hero__input"
          type="email"
          placeholder="Enter your email"
          required
        />
        <button class="hero__btn button-form">Try for free</button>
      </form>
    </div>
    <div class="hero__right">
      <div class="hero__sales">
        <h3 class="hero__sales-title">Sales Report</h3>
        <img
          src="../../../assets/icons/sales-report-graph.svg"
          width="366"
          height="260"
          alt="Sales report graphic"
        />
      </div>
      <div class="hero__customer">
        <h3 class="hero__customer-title">Customer Growth</h3>
        <img
          src="../../../assets/icons/customer-growh-graph.svg"
          width="177"
          height="149"
          alt="Customer growth graphic"
        />
      </div>
    </div>
  </div>
</section>

